.about {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "img txt link" "info info info";
  border-bottom: 3px solid $main-gray;

  @include _xl {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "link link" "img txt" "info info";
  }
  @include _l {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "link" "img" "txt" "info";
  }

  &__img-box {
    grid-area: img;
    width: auto;
    height: 500px;
    background-image: url("./../img/shoeimages.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    margin-right: 70px;

    @include _xl {
      margin-right: 50px;
    }
    @include _l {
      margin-right: 0;
      margin-bottom: 40px;
      height: 430px;
    }
    @include _s {
      height: 360px;
    }
  }
  &__txt-box {
    grid-area: txt;
    margin-right: 50px;

    @include _xl {
      margin-right: 0;
    }
  }

  &__title {
    color: $brown-color;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0.7;

    @include _s {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__txt {
    color: $text-gray;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.5;

    @include _s {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__tel-box {
    grid-area: link;
    background-color: $green;
    border-radius: 20px;
    height: 120px;
    width: 200px;
    padding: 30px;

    @include _xl {
      margin-bottom: 30px;
    }
    @include _s {
      margin: 0 auto;
      margin-bottom: 25px;
    }
  }

  &__link-telegram {
    display: block;
    background-color: $white;
    height: 50px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include flex-row;
    cursor: pointer;
    border-radius: 4px;
    color: $brown-color;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 26px;
  }
  &__link-img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 14px;
  }
  &__link-txt {
    display: block;
  }

  &__info-box {
    grid-area: info;
    @include flex-row;
    flex-wrap: wrap;
    margin-top: 80px;

    @include _l {
      margin-top: 50px;
    }
    @include _s {
      margin-top: 30px;
      @include flex-column;
    }
  }

  &__info {
    width: 400px;
    margin-bottom: 40px;

    @include _l {
      width: 340px;
    }
    @include _s {
      width: auto;
      margin-bottom: 20px;
    }
  }

  &__info-title {
    @include title-h3;
    margin-bottom: 10px;
    @include _s {
      font-size: 16px;
    }
  }

  &__info-txt {
    color: $text-gray;
    font-size: 18px;

    @include _s {
      font-size: 16px;
    }
  }
}
